.panel{
 max-width: 800px;
 padding: 20px;
 background:gainsboro;
 margin: auto;

}
.text-center{
 text-align: center;
 color: green;
}
table{width: 100%;}
table,tr,td{ 
border:1px solid tan;
}
h1 {text-align: center;
color: green;
}
a{ background: #e6e6e6;
	color: green;
	text-decoration: none;
	padding: 5px 15px;
	border: 1px solid #c1c1c1;
	width: 100px;
	display: inline-block;
	text-align: center;
.btn{
	background: green;
	color:white;
	padding: 10px 20px;
	display: inline-block;
    text-decoration: none;	
}
